body {
    text-align: center;
    width: 600px;
    box-sizing: 900px;
    margin: auto ;
}

.title {
    font-family: Inter;
    font-size: 49px;
}

.title strong {
    color: #6C63FF;
}

.text, footer {
    font-family: 'Open Sans';
    font-size: 14px;
}

.text y {
    color: #6C63FF;
}

a {
    color: #6C63FF;
}
.insta {
    margin-right: 35px;
}